a.button,
a.button:focus,
a.button:active,
a.button:visited,
button.button,
button.button:focus,
button.button:active,
button.button:visited {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em 3em;
  color: #fff;
  background-color: var(--theme-secondary);
  border-radius: var(--theme-border-radius);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border: 0;
  border-bottom: 1px solid var(--almost-black);
  font-family: "Evolventa", "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.25s;
  white-space: normal;
  cursor: pointer;
}

a.button:hover,
button.button:hover {
  text-decoration: none;
  background: var(--theme-primary-dark);
}

a.button:active,
.button.button:active {
  border-bottom: 0;
  margin-top: 1px;
  box-shadow: 0;
}
